doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/sendCode.js")
    script(src="/js/submit.js")
  body
    block content
